body{
    background-image: url(staticCU.png);
    font-family:'Aldrich';
    background-color: #e4e4e4;
    color: white;
    margin: 0;
}

/* ******************************************************************************************************************** */

@media screen and (min-width: 501px){
.header{
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 19%;
    font-size: 30px;
}

.header h1{
        animation: flicker 1.2s  infinite;
}
@keyframes flicker{
    0%{
        color: white;
    }
    25%{
        color: grey;
    }
    50%{
        color: grey;
    }
    75%{
        color: white;
    }
    100%{
        color: grey;
    }
}

.nav{
    background-color: white;
    color: black;
    font-size: 25px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.nav .nav-child{
    font-family: 'Aldrich';
    text-decoration: none;
    color:black;
    
}

.nav .nav-child:hover{
    color:#cfb87c;

}

.subheader{
    font-family: 'Courier New', monospace;
    background-color: #cfb87c80;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 32px;
}

.concerts{
    background: rgba(30,30,30,0.85);
}

.shows-parent{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.shows-child1{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child1 h3{
    font-family: 'Aldrich';
}

.shows-child2{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child2 h3{
    font-family: 'Aldrich';
}

.shows-child3{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child3 h3{
    font-family: 'Aldrich';
}

.shows-child4{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child4 h3{
    font-family: 'Aldrich';
}

.shows-child5{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child5 h3{
    font-family: 'Aldrich';
}

.shows-child6{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child6 h3{
    font-family: 'Aldrich';
}

.shows-child7{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child7 h3{
    font-family: 'Aldrich';
}

.shows-child8{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child8 h3{
    font-family: 'Aldrich';
}

.shows-child9{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child9 h3{
    font-family: 'Aldrich';
}

.shows-child10{
    font-family: sans-serif;
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child10 h3{
    font-family: 'Aldrich';
}


#moonIMG{
    height: 800.64px;
    width: 480px;
    margin: 1px;

}

#moonIMG img{
    margin-top: 180px;
    height: 400px;
    width: 400px;
}

#contactUs{
    font-family: 'Aldrich';
    margin: 1px;
    height: 800.64px;
    width: 480px;
}

#contactUs h3{
    font-family: 'Aldrich';
    margin-top: 285px;
    font-size: 35px;
}


.concerts .shows-parent .shows-child h3{
    font-size: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    text-align: center;
}

.footer .returnHome{
    font-family: 'Courier New', monospace;
    font-size: 40px;
    color:#cfb87c;
    text-decoration: none;
    
}
.footer .returnHome:hover{
    color: white;
}

}

/* ********************************************************************************************************************************* */

@media screen and (max-width: 500px){
.header{
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 19%;
    font-size: 27px;
}

.header h1{
        animation: flicker 1.2s  infinite;
}
@keyframes flicker{
    0%{
        color: white;
    }
    25%{
        color: grey;
    }
    50%{
        color: grey;
    }
    75%{
        color: white;
    }
    100%{
        color: grey;
    }
}

.nav{
    background-color: white;
    color: black;
    font-size: 23px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nav .nav-child{
    font-family: 'Aldrich';
    text-decoration: none;
    color:black;
    
}

.nav .nav-child:hover{
    color:#cfb87c;

}

.subheader{
    font-family: 'Courier New', monospace;
    background-color: #cfb87c80;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.concerts{
    background: rgba(30,30,30,0.85);
}

.shows-parent{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.shows-child1{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child1 h3{
    font-family: 'Aldrich';
}

.shows-child2{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child2 h3{
    font-family: 'Aldrich';
}

.shows-child3{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child3 h3{
    font-family: 'Aldrich';
}

.shows-child4{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child4 h3{
    font-family: 'Aldrich';
}

.shows-child5{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child5 h3{
    font-family: 'Aldrich';
}

.shows-child6{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child6 h3{
    font-family: 'Aldrich';
}

.shows-child7{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child7 h3{
    font-family: 'Aldrich';
}

.shows-child8{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child8 h3{
    font-family: 'Aldrich';
}

.shows-child9{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child9 h3{
    font-family: 'Aldrich';
}

.shows-child10{
    background-image: url(showsBackground.jpg);
    margin: 10px;
    flex: auto;
    padding: 30px;
    width: 300px;
    text-align: left;
}

.shows-child10 h3{
    font-family: 'Aldrich';
}

#moonIMG{
    display: none;
    height: 800.64px;
    width: 480px;
    margin: 1px;

}

#moonIMG img{
    display: none;
    margin-top: 180px;
    height: 400px;
    width: 400px;
}

#contactUs{
    font-family: 'Aldrich';
    margin: 1px;
    height: 800.64px;
    width: 480px;
}

#contactUs h3{
    margin-top: 285px;
    font-size: 35px;
}


.concerts .shows-parent .shows-child h3{
    font-size: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    text-align: center;
}

.footer .returnHome{
    font-family: 'Courier New', monospace;
    font-size: 40px;
    color:#cfb87c;
    text-decoration: none;
    
}
.footer .returnHome:hover{
    color: white;
}

}