body{
    margin: 0;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
    cursor: default;
}

.start{
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #3b5569;
    border-radius: 5px;
    border: 4px solid grey;
    z-index: 1000;
}

.start:hover{
    background-color: #2b3d4b;
}

.game{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(landscape.png); /*https://opengameart.org/content/seamless-hd-landscape-in-parts */
    background-position: 50% 60%;
    overflow: hidden;
}

.fallingImg {
    /* width: 60px; - moved to js */
    height: auto;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.character{
    position: absolute;
    bottom: 60px;
    left: 48%;
    width: 85px;
    height: 85px;
}

.phoneNumber{
    display: flex;
    position: absolute;
    color: white;
    width: 100vw;
    bottom: 15px;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 4px dotted white;
}

.result{
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #3b5569;
    border-radius: 5px;
    border: 4px solid grey;
    z-index: 1000;
}

.retry{
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #3b5569;
    border-radius: 5px;
    border: 4px solid grey;
    z-index: 1000;
}

.retry:hover{
    background-color: #2b3d4b;
}